.section-profile{

    @apply w-full px-[4rem];
    overflow: auto;

}
.section-profile::-webkit-scrollbar{
    display: none
}

.profile{
    @apply flex flex-row justify-between;
    align-items: center
}
.profile-card{
    @apply flex items-end my-[2rem];
}
.profile-picture{
    @apply w-[10rem] rounded-full overflow-hidden;
}
.apointment-button{
    /* @apply border border-blue-500
    text-blue-500 font-bold py-2 px-4 rounded hover:bg-blue-500 hover:text-white; */
    border-width: 1px;
    border-color: var(--color-blue-500);
    color: var(--color-blue-500);
    font-weight: 700;
    padding-block: calc(var(--spacing) * 2);
    padding-inline: calc(var(--spacing) * 4);
    border-radius: calc(infinity * 1px);
    height: 2rem;
    display: flex;
    align-items: center;
    cursor: pointer;
}
/* .profile-card-info{
    margin-bottom: .5rem;
    margin-left: 2rem;
}
.profile-card-info h1{
    margin-bottom: .25rem;
    font-weight: bold;
    font-size: larger;
    text-transform: capitalize;
}
.profile-card-info ul li{
    font-style: italic;
    font-size: .75rem;
}
.profile-options{
    padding: .5rem;
}
.options-list{
    display: flex;
}
.options-list li{
    margin: 0 .5rem;
    background-color: rgb(65, 65, 255);
    border: .2rem solid rgb(65, 65, 255);
    color: aliceblue;
    padding: .3rem;
}

.options-list li:hover, .options-list .option-active{
    margin: 0 .5rem;
    border: .2rem solid rgb(65, 65, 255);
    background-color: aliceblue;
    color: black;
    padding: .3rem;
    cursor: pointer;
}

.profile-info{
    padding-inline: 2rem;
    margin-top: 1rem;
    overflow: hidden;
}

.profile-info div{
    margin-block: .75rem;
}
.profile-info h1{
    font-size: 1.1rem;
    font-weight: 500;
}
.profile-info h2{
    padding-left: 1rem;
    font-style: italic;
    font-weight: 400;
}

.profile-info p{
    padding: .1rem;
    font-weight: 200;
}

.profile-info span{
    padding: .2rem;
    font-weight: 400;
} */